<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Orden</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-list>
      <ion-item-sliding *ngFor="let item of items">
          <ion-item>
            <!-- <ion-avatar item-start>
              <img src="img/slimer.png">
            </ion-avatar> -->
            <b>{{ items.indexOf(item) }}  {{item.titulo}} <span *ngIf="item.descripcion"> - {{item.descripcion}}</span></b>
          </ion-item>

          <ion-item-options side="right">
            <button ion-button color="danger" (click)="borrarItem(items.indexOf(item))">
              <ion-icon name="trash"></ion-icon>
              Borrar
            </button>
          </ion-item-options>
      </ion-item-sliding>

  </ion-list>

  

  <!-- Real floating action button, fixed. It will not scroll with the content -->
  <ion-fab bottom left #fab>
    <button ion-fab big><ion-icon name="add"></ion-icon></button>

    <ion-fab-list side="top">
      <button ion-button (click)="agregar24()"><ion-icon name="md-add-circle"></ion-icon> <span padding>Herbalife 24</span></button>
      <button ion-button (click)="agregarExtra()"><ion-icon name="md-add-circle"></ion-icon> <span padding>Extra</span></button>
      <button ion-button (click)="agregarProteina()"><ion-icon name="md-add-circle"></ion-icon> <span padding>Proteina</span></button>
      <button ion-button (click)="agregarMalteada()"><ion-icon name="md-add-circle"></ion-icon> <span padding>Malteada</span></button>
      <button ion-button (click)="agregarTe()"><ion-icon name="md-add-circle"></ion-icon> <span padding>Te</span></button>
      <button ion-button (click)="agregarAloe()"><ion-icon name="md-add-circle"></ion-icon> <span padding>Aloe</span></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
